<div class="container-fluid">
  <form [formGroup]="addmore" (ngSubmit)="onSubmit()">
    <div class="card">
      <div class="card-header text-center">Add Daily Task Report</div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>Title</mat-label>
              <input matInput formControlName="title">
              <mat-error *ngIf="(f.title.dirty && f.title.invalid )">
                <span>Please Enter Valid Value</span>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-sm-3">
            <mat-form-field appearance="outline">
              <mat-label>type</mat-label>
              <mat-select formControlName="type">
                <mat-option value="">
                  None
                </mat-option>
                <mat-option value="1">
                  Plan
                </mat-option>
                <mat-option value="1">
                  Rutine
                </mat-option>
                <mat-option value="1">
                  R&D
                </mat-option>
                <!-- <mat-option *ngFor="let parentPOSDepartment of parentPOSDepartment"
                            [value]="parentPOSDepartment.id">
                            {{parentPOSDepartment.text}}
                          </mat-option> -->
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-4">
            <mat-form-field appearance="outline">
              <mat-label>descripition</mat-label>
              <textarea matInput formControlName="descripition"></textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 table-responsive" formArrayName="itemRows">
            <table class="table">
              <thead>
                <tr>
                  <th style="white-space: nowrap;float:center"><span
                      class="required-field"></span>Task </th>
                  <th style="white-space: nowrap;float:center"><span
                      class="required-field"></span>Time Range </th>
                  <th style="white-space: nowrap;float:center"><span
                      class="required-field"></span>Status </th>
                  <th style="white-space: nowrap;float:center"><span
                      class="required-field"></span>Client </th>
                  <th style="white-space: nowrap;float:center"><span
                      class="required-field"></span>Assign To </th>
                  <th style="white-space: nowrap;float:center"><span class="required-field"></span>QA
                  </th>
                  <th style="white-space: nowrap;float:center"><span
                      class="required-field"></span>Test </th>
                  <th style="white-space: nowrap;float:center">Learn </th>
                  <th style="white-space: nowrap;float:center">Descripition </th>
                  <th style="white-space: nowrap;float:center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let itemrow of addmore.controls.itemRows['controls']; let i=index" [formGroupName]="i">
                  <td style="white-space: nowrap;">
                    <mat-form-field appearance="outline">
                      <mat-label>Task</mat-label>
                      <input id="task{{i}}" matInput formControlName="task">
                      <mat-error
                        *ngIf="(formArr.controls[i].controls.task.touched ||formArr.controls[i].controls.task.dirty || formArr.controls[i].controls.task.invalid )">
                        <span *ngIf="formArr.controls[i].controls.task.invalid">Enter valid Value</span>
                      </mat-error>
                    </mat-form-field>
                  </td>
                  <td style="white-space: nowrap;">
                    <mat-form-field appearance="outline">
                      <mat-label>Time Range</mat-label>
                      <input id="timeRange{{i}}" matInput formControlName="timeRange">
                      <!-- <mat-error *ngIf="(f.timeRange.dirty && f.timeRange.invalid==true )">
                        <span>Please Enter Valid Value</span>
                      </mat-error> -->
                    </mat-form-field>
                  </td>
                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>Status</mat-label>
                      <mat-select formControlName="status">
                        <mat-option value="">
                          In Progress
                        </mat-option>
                        <mat-option value="1">
                          Update Sent
                        </mat-option>
                        <mat-option value="1">
                          Partial Update
                        </mat-option>
                        <mat-option value="1">
                          R&D
                        </mat-option>
                        <mat-option value="1">
                          Completed
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td style="white-space: nowrap;">
                    <mat-form-field appearance="outline">
                      <mat-label>Client</mat-label>
                      <input id="client{{i}}" matInput formControlName="assignTo">
                      <input matInput formControlName="client">
                      <!-- <mat-error *ngIf="(formArr.client.dirty && formArr.client.invalid==true )">
                        <span>Please Enter Valid Value</span>
                      </mat-error> -->
                    </mat-form-field>
                  <td style="white-space: nowrap;">
                    <mat-form-field appearance="outline">
                      <mat-label>Assign To</mat-label>
                      <input id="assignTo{{i}}" matInput formControlName="assignTo">
                      <!-- <mat-error *ngIf="(f.assignTo.dirty && f.assignTo.invalid==true )">
                        <span>Please Enter Valid Value</span>
                      </mat-error> -->
                    </mat-form-field>
                  </td>
                  <td style="white-space: nowrap;">
                    <mat-form-field appearance="outline">
                      <mat-label>QA</mat-label>
                      <input id="qa{{i}}" matInput formControlName="qa">
                      <!-- <mat-error *ngIf="(f.qa.dirty && f.qa.invalid==true )">
                        <span>Please Enter Valid Value</span>
                      </mat-error> -->
                    </mat-form-field>
                  </td>
                  <td style="white-space: nowrap;">
                    <mat-form-field appearance="outline">
                      <mat-label>Test</mat-label>
                      <input id="test{{i}}" matInput formControlName="qa">
                      <!-- <mat-error *ngIf="(f.test.dirty && f.test.invalid==true )">
                        <span>Please Enter Valid Value</span>
                      </mat-error> -->
                    </mat-form-field>
                  </td>
                  <!-- <td style="white-space: nowrap;">
                    <mat-form-field appearance="outline">
                      <mat-label>Test</mat-label>
                      <input id="test{{i}}" matInput formControlName="qa">
                      <mat-error *ngIf="(f.test.dirty && f.test.invalid==true )">
                        <span>Please Enter Valid Value</span>
                      </mat-error>
                    </mat-form-field>
                  </td> -->
                  <td style="white-space: nowrap;">
                    <mat-form-field appearance="outline">
                      <mat-label>Learn</mat-label>
                      <input id="learn{{i}}" matInput formControlName="learn">
                      <!-- <mat-error *ngIf="(f.learn.dirty && f.learn.invalid==true )">
                        <span>Please Enter Valid Value</span>
                      </mat-error> -->
                    </mat-form-field>
                  </td>


                  <td>
                    <mat-form-field appearance="outline">
                      <mat-label>descripition</mat-label>
                      <textarea matInput id="descripition{{i}}" formControlName="descripition"></textarea>
                    </mat-form-field>
                  </td>
                  <td> <button *ngIf="addmore.controls.itemRows.controls.length > 1" (click)="deleteRow(i)"
                      class="btn btn-danger"><i class="fa fa-minus-circle" aria-hidden="true"></i></button></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td> <button type="button" (click)="addNewRow()" class="btn btn-primary"><i class="fa fa-plus-circle"
                        aria-hidden="true"></i></button></td>
                </tr>
              </tfoot>
            </table>
          </div>

        </div>
      </div>
      <div class="card-footer text-center">
        <button mat-raised-button color="primary">Submit</button>
      </div>
    </div>
  </form>
</div>